.conv-next-prev {
    vertical-align: middle;
    margin-left: 0!important;
    margin-right: 4px !important;
    margin-top: -4px!important;
}

.conv-next-prev a {
    float: left;
}

ul.sidebar-block-list {
    padding-right: 0;
}

.person-photo-auto {
    float: right;
}

.sidebar-2col {
    padding-right: 0;
    padding-left: 12px;
}

.conv-new .conv-info {
    float: left;
    margin: 0px 0px 0 20px;
}

.btn-group-send {
    margin-left: 0;
    margin-right: 12px;
}

#conv-layout-header {
    float: right;
    padding-left: 280px;
    padding-right: 0;
    width: 100%;
}

#conv-layout-customer {
    left: 0 !important;
    right: inherit;
    height: 100%;
}

#conv-layout-main {
    padding-left: 280px;
    padding-right: 0;
}

#conv-layout-customer {
    height: 0;
}

@media (max-width: 1000px) {
    .conv-totals {
        text-align: right;
    }
}

@media (max-width:1100px) {
    #conv-layout-header {
        padding-left: 0;
    }
    #conv-layout-main {
        padding-left: 0 !important;
        padding-right: inherit;
    }
    #conv-layout-customer {
        padding-left: 280px;
        padding-right: 0;
    }
}

.sidebar-2col{
    padding: 0  0  0 12px  ;
}

.card{
    float: right;
    margin: 0 0 18px 18px;
}

.card > h4 {
    margin: 2px 66px 4px 0;
}

.card > p {
    margin: 0 66px 0 0;
}

.module-card {
    margin: 0 0 18px 18px;
}

.module-card img{
    float: right;
}

.module-wrap {
    margin: 0 144px 0 0;
}

@media (max-width: 582px){
    .module-card img {
        float: none;
        width: 128px;
        margin: 0 auto;
        display: block;
    }
    .module-wrap {
        margin-right: 0;
    }
    .card, .dash-card {
        width: 100%;
        margin: 0 0 20px 0;
    }
}

